@media screen and (min-width:768px) {

    /**GENERAL STYLING**/

    h1 {
        font-size: 56px;
        line-height: 56px;
    }

    section.approach h2 {
        margin: 0;
        color: var(--black);
    }
    
    .img-mobile {
        display: none;
    }

    .img-tablet {
        display: block;
    }

    /**NAV**/

   .burger {
       display: none;
   }

   .nav-wrapper {
       background: linear-gradient(to left, #F94F4F 50%, white 50%);
   }

    nav {
     padding: 0;
   }

    nav.open .links,
    nav .links {
        background: var(--primary_color);
        position: static;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: auto;
        height: auto;
        text-align: center;
        padding-top: 0rem;
        padding-bottom: 0rem;
        border-top: 2.5rem solid #F94F4F;
        border-bottom: 2.5rem solid #F94F4F;
    }

    nav.open .links li,
    nav .links li {
        margin-left: 2rem;
    }

    nav.open .links li a,
    nav .links li a {
        color: white;
    }

    nav.open .links li:last-of-type a,
    nav .links li:last-of-type a {
        display: block;
        background-color: var(--black);
        width: 200px;
        height: 65px;
        line-height: 63px;
        text-align: center;
        margin: 0 auto;
        font-weight: bolder;
        transition: background-color 0.3s ease-in-out;
    }

    nav.open .links li:last-of-type a:hover,
    nav .links li:last-of-type a:hover {
        background-color: #434356;
    }

    /**HERO**/

    .hero {
        background-image: url(../assets/tablet/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
    }

    .text-container h1,
    .text-container p {
        max-width: 400px;
    }

    /**DESIGN**/

    .design {
        display: flex;
    }

    .design > div {
        width: 50%;
    }

    .design > div:first-of-type > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .design > div:nth-of-type(2) {
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 0 4rem 0 4rem;
    }

    .floating-logo {
        bottom: 64%;
        left: auto;
        right: -31.5px;
    }

    /**APPROACH**/

    section.approach {
        padding: 0;
        background:linear-gradient(to right, white 40%, #F94F4F 60%)
    }

    .approach-feature-container {
        position: relative;
        display: flex;
    }

    .approach-feature-container::before {
        position: absolute;
        top: -7.5rem;
        right: -10%;
        content: "";
        width: 68%;
        height: 7.5rem;
        background-color: #F94F4F;
    }
    
    .approach-feature-container-inner {
        background-color: var(--primary_color);
        width: 58%;
        padding-left: 4rem;
        padding-bottom: 7.5rem;
    }


    .approach-headline-container {
        width: 42%;
        padding-top: 7.5rem;
        padding-right: 1rem;
    }

    /**PORTFOLIO**/

    .portfolio {
        display: grid;
        grid-template-columns: 43% 57%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .portfolio > div:first-of-type {
        grid-column: 2/3;
        grid-row: 1/5;
    }
    .portfolio > div:nth-of-type(2) {
        display: flex;
        align-items: center;
        grid-column: 1/2;
        grid-row: 1/4;
    }

}